# Build
.gradle/
build/
bin/

# Generated artifacts
public/hohenheim.js
public/hohenheim.js.map
public/hohenheim.css
public/plumage.css

# Database
*.db

# IDE
.classpath
.project
.settings/
.factorypath
*.iml
.idea/

# OS
.DS_Store
