<!DOCTYPE html>
<html>
	<head>
		<% this.foundation({protoblast: true}) %>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600" rel="stylesheet">
		<% style('website') %>
	</head>
	<body>
		<% assign('body') %>
	</body>
</html>
